<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Timezra&apos;s Commands"
            id="timezra.eclipse.save_actions.commands.timezras_commands">
      </category>
      <command
            name="Apply Save Actions"
            categoryId="timezra.eclipse.save_actions.commands.timezras_commands"
            id="timezra.eclipse.save_actions.commands.applySaveActions">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="timezra.eclipse.save_actions.commands.applySaveActions"
            class="timezra.eclipse.save_actions.handlers.ApplySaveActions">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="timezra.eclipse.save_actions.commands.applySaveActions"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M3+M2+T,S"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="timezra.eclipse.save_actions.commands.applySaveActions"
               icon="icons/full/obj16/sample.gif"
               id="timezra.eclipse.save_actions.menus.applySaveActions"
               label="Apply Save Actions"
               mnemonic="S"
               style="push"
               tooltip="Apply Save Actions">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.jdt.core.IJavaProject">
                        </adapt>
                        <adapt
                              type="org.eclipse.jdt.core.IPackageFragmentRoot">
                        </adapt>
                        <adapt
                              type="org.eclipse.jdt.core.IPackageFragment">
                        </adapt>
                        <adapt
                              type="org.eclipse.jdt.core.ICompilationUnit">
                        </adapt>
                     </or>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                     </adapt></iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
