<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%applySaveActionsLabel"
            categoryId="org.eclipse.jdt.ui.category.source"
            id="timezra.eclipse.apply_save_actions.commands.applySaveActions">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="timezra.eclipse.apply_save_actions.commands.applySaveActions"
            class="timezra.eclipse.apply_save_actions.handlers.ApplySaveActions">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="timezra.eclipse.apply_save_actions.commands.applySaveActions"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M3+T S"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=importGroup">
         <command
               commandId="timezra.eclipse.apply_save_actions.commands.applySaveActions"
               icon="icons/full/obj16/save_actions.gif"
               id="timezra.eclipse.apply_save_actions.menus.applySaveActions"
               label="%applySaveActionsLabel"
               mnemonic="S"
               style="push"
               tooltip="%applySaveActionsTooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <test
                           forcePluginActivation="true"
                           property="timezra.eclipse.apply_save_actions.areSaveActionsEnabled">
                     </test>
                     <or>
                        <adapt
                              type="org.eclipse.jdt.core.IJavaProject">
                        </adapt>
                        <adapt
                              type="org.eclipse.jdt.core.IPackageFragmentRoot">
                        </adapt>
                        <adapt
                              type="org.eclipse.jdt.core.IPackageFragment">
                        </adapt>
                        <adapt
                              type="org.eclipse.jdt.core.ICompilationUnit">
                        </adapt>
                     </or>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                     </adapt></iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="timezra.eclipse.apply_save_actions.propertyTesters.AreSaveActionsEnabled"
            id="timezra.eclipse.apply_save_actions.areSaveActionsEnabled"
            namespace="timezra.eclipse.apply_save_actions"
            properties="areSaveActionsEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
